*{
	margin: 0;
	padding: 0;
}
/*reset font size*/
html{
	font-size: 62.5%;
}

.menu__ul{
list-style-type: none;
text-decoration: none;
display: inline-block;
overflow: hidden;
}

.menu__li{
list-style-type: none;
text-decoration: none;
display: inline-block;
text-transform: uppercase;
padding: 3px;
border: 2px;
background-color: #BF9039;
color: white;
text-align: center;
position: relative;
}
.menu__li:hover{
	background-color: color:#BF9039;
}

ul#cd{
	text-align: center;
 	font-family: 'Bebas Neue', cursive;
 	font-size: 2.5rem;
 	text-decoration: none;
}
li#cd{
 	text-decoration: none;
}

.titulo{
	font-family: 'Bebas Neue', cursive;
	font-size: 3.5rem;
	text-align: center;
	color: #1568A3;
	margin: 10px;
}

.padre__media{
	display: flex;
	height: 400px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	}

.hijo__media{
	height: 60%;
}
.subtitulo{
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	text-align: left;
	text-align: center;
	color: #1568A3;
}

#gradiente{
	background-image: linear-gradient(to top, #4386B5, #B8D1E3);
	width: 100%;
 	height: 100%;
 	height: 550px;
 	font-family: 'Bebas Neue', cursive;
 	font-size: 2rem;
}

p#historia{
	font-size: 2rem;
	font-style: italic;
	margin: 10px;
}

/* Paleta de colores FALPo*/
.azul_principal {
	color:#1568A3;
	}
.azul_secundario {
	color:#78BCDF;
	}
.gris {
	color:#323330;
	}
.back_azul_ppal{background: #1568A3; color: white;}
.back_azul{background: #1568A3;}
.blanco {color: white;}

.fondo_rrss {background-color:#1568A3; opacity: 0.6;}
.letra_ig {color: #D91470; opacity:O.5;}
.fondo_ig {background-color: #6321BF}

/*Paleta de colores AMeLPo*/
.rojo_principal {color:#D91A1A;}
.negro_amelpo {color:#261F1D;}

.regla{
 font-size: 1.8rem;
 text-align: left;
 font-family: sans-serif;	
}

.navbar{
	font-size: 1.3rem;
}

#gradiente.amelpo{
	background-image: linear-gradient(#DC3030, #EFA3A3);
	 width: 100%;
 	height: 100px;
 	padding: 10px;
 	height: 400px;
 	font-family: 'Bebas Neue', cursive;
}
main{
	position: relative;
	min-height: 90vh;
	display:  flex;
	justify-content: center;
	align-items: center;
}
main .wave {
	position: absolute;
	top:  0px;
	height: 100px;
	width: 100%;
}
main section{
	display: flex;
	flex-direction: column;
	align-items: center;
}
article{
	display: flex;
	line-height: 40px;
}
article h2{
	font-size: 2.7rem;
}
article ul{
	list-style: none;
	font-size: 2rem;
	padding-left: 20px;
}
article ul ol{
	list-style: none;
	font-size: 2rem;
	padding-left: 15px;
}

/*MENU DE NAVEGACIÓN*/
nav ul ul {
    display:none;
    position: absolute;
}
 nav ul li:hover > ul{
     display: block;
 } 
 nav ul ul li {
     float: none;
     width: 170px;
     background-color: #323330;
 }
 nav ul{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex-grow: 4;
	align-items: center;
	height: 70px;
	background-color: #1568A3;
	margin: 0;
  	padding: 0;
  	list-style: none;
	overflow: hidden;
 }
 nav ul li{
	list-style: none;
	color: white;
 	background-color: #1568A3;
  	text-transform: uppercase;
  	text-align: center;
  	padding: 8px;
  	position: relative;*/
  	width: 100%;
	}
nav ul li ul{
	margin: 0;
  	padding: 0;
  	list-style: none;
	overflow: hidden;
	color:#323330;
}
.paginas{
	text-align: center;
  	display: block;
  	color: white;
  	background-color: #1568A3;
  	padding: 8px;
  	text-transform: uppercase;
  	text-decoration: none;
  	font-size: 1.8rem;
}
ul ul{
	position: absolute;
	display: none;
}
ul ul li{
	widows: 100%;
}

main section img{
size: 4rem;
align-items: left;
}
main section p{
font-size: 2rem;
text-align: center;
}

.contenedorImg{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.contenedorImg Img{
 width: 500px;
}

.containerCom{
	display: flex;
	justify-content: space-around;
	align-items: left;
}
table{
	align-items: center;
}
table caption{
	font-size: 2rem;
}
table tr{
	font-size: 1.5rem;
	text-align: center;
}
table tr th{
	font-size: 1.5rem;
	text-align: center;
}
table tr td{
	font-size: 1.5rem;
	text-align: center;
}
table tr td ul li{
	font-size: 1.5rem;
	text-align: center;
}
table tr td ul{
	list-style-type: none;
}
#formulario{
	background-color: #1568A3;
	color: white;
	font-size: 1.8rem;
}